[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.3"
scikit-learn = "==1.5.2"
numpy = "==2.0.2"
nltk = "==3.9.1"
fastapi = "==0.68.1"
uvicorn = "==0.15.0"
pytest = "==6.2.5"
httpx = "==0.19.0"
pipenv = "==2024.1.0"
openpyxl = "==3.1.5"

[dev-packages]

[requires]
python_version = "3.9"
